@page "/NovaCategoria"
@attribute [Authorize(Policy = "Admin")]

@inject NavigationManager NavigationManager
@inject IAddCategoryUseCase INewCategoryUseCase 

<h3>Nova Categoria</h3>
<br/>
@if(category != null)
 {

<EditForm Model="category" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Nome</label>
        <InputText id="name" @bind-Value="category.Name" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="descript">Descrição</label>
        <InputText id="descript" @bind-Value="category.Description" class="form-control"></InputText>
    </div>

    <button type="submit" class="btn bg-gradient-info">Adicionar</button>
    <button type="button" class="btn bg-gradient-danger" @onclick="OnCancel">Cancelar</button>
</EditForm>

 }

@code {

    private Category category;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        category = new Category();
    }

    private void OnValidSubmit()
    {
        INewCategoryUseCase.Execute(category);
        NavigationManager.NavigateTo("/categorias/1");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/categorias/1");
    }
}
