@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="dropdown-user">
            <a class="nav-link text-body" href="Identity/Account/Manage">
                <i class="fa fa-user me-sm-1" style="padding-right: 5px;">
                </i>@context.User.Identity.Name
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
            <a class="nav-link text-dark" href="Identity/Account/Register" style="padding: 0.5rem 0.5rem;">Cadastrar</a>
            <a class="nav-link text-dark" href="Identity/Account/Login" style="padding: 0.5rem 0.5rem;">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
