@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="dropdown-user">
            <a class="nav-link text-body" href="Identity/Account/Manage">
                <i class="fa fa-user me-sm-1" style="padding-right: 5px;">
                </i>@context.User.Identity.Name
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Cadastrar</a>
        <a href="Identity/Account/Login">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
