@inherits LayoutComponentBase

    <div class="page">
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" href="" target="_blank">
                    @*<img src="/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">*@
                    <span class="ms-1 font-weight-bold">E-Marketplace</span>
                </a>
            </div>
            <NavMenu />
        </aside>

        <div class="main main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
            <div class="top-row px-4">
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">
                        <span class="oi oi-grid-two-up"></span>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <LoginComponent></LoginComponent>
                    </div>
                </div>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
